
.badge-success{
    background-color:#63C394 !important;
}

.text-success {
    color:#63C394 !important;
}

.btn-outline-success{
    color: #63C394 !important;
    border-color: #63C394 !important;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color: #63C394 !important;
    border-color: #63C394 !important;
}

.btn-outline-success:active{
    background-color: #63C394 !important;
    border-color: #63C394 !important; 
}

.btn-outline-success:active{
    background-color: #63C394 !important;
    border-color: #63C394 !important; 
}

.btn-success{
    color: white !important;
    background-color: #63C394 !important;
    border-color: #63C394 !important;
}

.btn-success:hover {
    color: #fff !important;
    background-color: rgb(106, 201, 155) !important;
    border-color: rgb(106, 201, 155) !important;
}

.btn-success:active{
    background-color: rgb(92, 175, 135) !important;
    border-color: rgb(92, 175, 135) !important;
}

.badge-danger{
    background-color:#EF4139 !important;
}

.text-danger{
    color:#EF4139 !important;
}

.btn-danger{
    color: white !important;
    background-color: #EF4139 !important;
    border-color: #EF4139 !important;
}

.btn-danger:hover {
    color: #fff !important;
    background-color: #EF4139 !important;
    border-color: #EF4139 !important;
}

.btn-danger:active{
    background-color: #EF4139 !important;
    border-color: #EF4139 !important;
}

.btn-outline-danger{
    color: #EF4139 !important;
    border-color: #EF4139 !important;
}

.btn-outline-danger:hover {
    color: #fff !important;
    background-color: #EF4139 !important;
    border-color: #EF4139 !important;
}

.btn-outline-danger:active{
    background-color: #EF4139 !important;
    border-color: #EF4139 !important; 
}

.btn-outline-danger:active{
    background-color: #EF4139 !important;
    border-color: #EF4139 !important; 
}