.profile{
    display: flex;
    justify-content: space-between;
}

.searchcolumn{
    padding-left:0px;
    padding-right:0px;
}

.hamburger{
  font-size:25px;
}

.page-title{
  font-size:22px;
  font-weight:bold;
  text-transform: capitalize;
}

/* Pre Loader */
.blur {
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

#loader-wrapper{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  z-index: 1000;
  opacity: .85;  
}

#loader {
  left:calc(40%);
  top:calc(45%);
  z-index: 2001;
  position:absolute;
}




