span{
    background-color: #63C394;
  }
  
  img {
    width:20em;
  }
  
  /*MOBILE*/
  @media (max-width: 768px) {
    img {
      width:15em;
    }
  }
  
  .menu{
    position:fixed;
    right:0;
    padding-right: 10px;
    padding-top: 10px;
  }
  
  .main-content {
    display: grid;
    height: 95vh;
    margin: 0;
    place-items: center center;
  }
  
  .ftr{
    background-color: rgb(34, 175, 137) !important;
  }