.application--wrap {
    background-color: #6B757B;
}

.menu-btn{
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
    font-size: 14px;
    color:white !important;
}

.v-toolbar__content, .v-toolbar__extension {    
    padding-left: 0px !important;
    padding-right: 0px !important;  
}

img {
    width: 20em;
}

.v-footer .v-card{
    background-color: #63C394!important;
}

/*MOBILE*/

@media (max-width: 575px) {
    img {
        width: 15em;
    }
    /*
    .application--wrap {
        background-color: transparent;
    }
    .bg {
        background: url('../images/unsplash1.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }
    .menu-btn{
        color:#63C394 !important;
    }
    */
}


