input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.order-form{
    padding: 30px 0px 0px 0px;
    color:#495057;
}

.line-title{
    margin-top:5px;
}

.text-line {
    background-color: transparent;
    outline: none;
    outline-style: none;
    outline-offset: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #29D3A5 1px;
    font-size: 40px;
    text-align: right;
    line-height:63px;
}

.three-border {
    border-top: solid #29D3A5 1px;
    border-right: solid #29D3A5 1px;
    border-left: solid #29D3A5 1px;
}

/*text line widths*/
.tlw-price{width: calc(90%);}
.tlw-decimal{width: calc(2%);}
.tlw-cents{width: calc(8%);}

@media (max-width: 768px) {
    .order-form{
        width:100%    
    }
    .tlw-price{width: calc(80%);}
    .tlw-decimal{width: calc(4%);}
    .tlw-cents{width: calc(16%);}
}

/*helpers*/
