.sr-container {
    border-bottom-width: .01em;
    border-bottom-color: rgb(214, 214, 214);
    border-bottom-style: solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.r-row {
    display: flex;
}

.r-row div {
    height:100%;
}

.r-row i{
    padding:7px;
    font-size:20px;
}

.tag {
    font-size: 20px;
}

.shares{
    font-size: 14px;
    color: #9FABB6;
    margin-top:-5px;
}


