.settings-pane{
    padding:20px;
}

.setting{
    padding-bottom:10px;
    justify-content: space-between;
    display: flex;
    font-size:18px ;
}



@media (max-width: 768px) {
    .setting{
        font-size:14px;
    }
}