.back-chevron {
    font-size: 20px;
    display:none;
}

.page-name{
    font-size:20px;
}

/*MOBILE*/
@media (max-width: 768px) {
    .back-chevron {
        display:block;
    }
    .page-name{
        margin-left:calc(30%);        
    }
}

.trnd-txt{
    font-size: 15px; 
    margin-top:-10px;
}

.trnd-price{
    padding-top: 15;
    font-size: 30px; 
    
}

