.back-chevron {
    font-size: 20px;
    display:none;
}

/*MOBILE*/
@media (max-width: 768px) {
    .back-chevron {
        display:block;
    }
}

.trnd-txt{
    font-size: 18px; 
    text-align: center;
}

.trnd-price{
    padding-top: 15;
    font-size: 35px; 
    text-align: center;
}

.stats{
    padding-top: 15px; 
}

.stats .stats-header{
    font-size: 28px;
}

/*HELPERS*/

.btn-rnd{
    border-radius: .2rem !important;
}